@import url('https://fonts.cdnfonts.com/css/eurostile-mn');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blue-gradient{
    background: radial-gradient(circle, rgba(0, 110, 172, 0.5) 1%, rgba(0, 0, 0, 0) 70%);  
}

.green-gradient{
    background: radial-gradient(circle, rgba(0, 255, 224, 0.7) 1%, rgba(0, 0, 0, 0) 70%);  
}

.green-gradient-sm{
    background: radial-gradient(circle, rgba(0, 255, 224, 0.1) 1%, rgba(0, 0, 0, 0) 50%);  
}
.blue-gradient-sm{
    background: radial-gradient(circle, rgba(0, 110, 172, 0.2) 1%, rgba(0, 0, 0, 0) 50%);  
}
.blue-gradient-lg{
    background: radial-gradient(circle, rgba(0, 110, 172, 0.2) 1%, rgba(0, 0, 0, 0) 70%);  
}

.header-font{
    font-family: 'Eurostile MN', sans-serif !important;
}
.stroke-text{
    color: white;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.bg-noise-image{
    background-image: url(./assets/background-image.svg);
    background-size: cover;
    background-position: center;
}
.tool-box-border{
    background-image: url(./assets/tool-box.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}