@import url('https://fonts.cdnfonts.com/css/eurostile-mn');

.header-font{
    font-family: 'Eurostile MN', sans-serif !important;
}
.stroke-text{
    color: white;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
main{
    background-image: url(./assets/background-image.svg);
    background-size: cover;
    background-position: center;
}